.sidenav{
    width: 300px;

}
.sidenavContainer{
    height: 100vh;
}
.logo-container{
    border-bottom: 1px solid rgba(0,0,0,0.25);
            padding: 16px;
            min-height: 64px; 
}
mat-toolbar{
    min-height: 64px;
} 