.sidenav {
  width: 300px;
}

.sidenavContainer {
  position: relative;
  height: 100vh;
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 16px;
  min-height: 64px;
}

mat-toolbar {
  min-height: 64px;
  background-color: #4b0082;
}

mat-drawer {
  border-radius: 0;
  border-right: 1px solid;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2);
}

.burgerMenu {
  color: white
}

.add-user-bottom {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.logo{
  background-image: url(/assets/img/logo.png);
  background-size: cover;
  background-position: center;
}

